* {
    box-sizing: border-box;
    font-family: sans-serif;
}
header, footer{
    background-color: deepskyblue;
    height: 50px;
    color: whitesmoke;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    color: red;
}
article {
    width: 45%;
    text-align: center;
    margin: 20px 0;
    border: 5px dotted deepskyblue;
}