<!-- rajout du header sur la page de l'article seul-->
{% include '_header.html.twig' %}


<body>
        <!-- page du lien vers un des articles  -->
            <article>
                <h1>{{ article.title }}</h1>
                <p>{{ article.content}} </p>
            </article>

</body>

<!-- rajout du footer sur la page de l'article seul-->

{% include '_footer.html.twig' %}

