<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twig</title>

</head>
<body>

    <header>
        <nav>
            <ul>
                <li>element 1</li>
                <li>element 2</li>
                <li>element 3</li>
            </ul>
        </nav>
    </header>

    <main>
            <article>
                <h1>{{ article.title }}</h1>
                <p>{{ article.content}} </p>
            </article>
    </main>

    <footer>
        <nav>
            <ul>
                <li>element 1</li>
                <li>element 2</li>
                <li>element 3</li>
            </ul>
        </nav>
    </footer>
</body>
</html>