<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('style.css') }}">

    {# sert à changer le title des pages individuellement #}
    <title>{% block metaTitle %} {% endblock metaTitle %}</title>
</head>
    <body>
        <header>
            <p>Header</p>
        </header>

        <main>
            {# sert à changer le main des pages individuellement #}
            {% block main %}
            {% endblock main %}
        </main>

        <footer>
            {# sert à changer le footer des pages individuellement #}

            {% block footer %}
            {% endblock footer %}
        </footer>

    </body>
</html>